body {
    background-color: #bde0fe;
}

.container {
    background-color: #fff;
    height: 100vh;
}

.num-of-voters {
    display: none;
}

.vote-actual {
    display: none;
}

.results-container {
    display: none;
}

.error-message {
    font-size: 1rem;
}